<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.png" type="image/png">
    <title>Document</title>
    <%- include('./partials/font.ejs') %>
    <style>
        body {
            background-color: #111;
            color: #16e16e;
            font-family: pixeloid;
        }
    </style>
</head>
<body>
    <p>Sorry, you have been banned.</p>
</body>
</html>