<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.png" type="image/png">
    <title>Configure Proxy</title>
</head>
<body>
    <form action="" method="POST">
        <input type="text" name="proxy" placeholder="Proxy Link:" required><br>
        <input type="submit"><br>
        <p><b>Note: </b>All valid browser requests, including TLS handshakes, will now be sent as POST requests to the proxy link you provide, instead of the local server.</p>
    </form>
</body>
</html>