<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register on RoboVM</title>
</head>
<body>
    <form action="" method="POST">
        <input type="text" name="name" placeholder="Display Name:">
        <input type="text" name="email" placeholder="Email:">
        <input type="password" name="password" placeholder="Password:">
        <input type="password" name="cnfpassword" placeholder="Confirm Password:">
        <input type="submit"><br>
        <% if (error) { %>
            <p><%= error %></p>
        <% } %>
        <a href="/login">Login here</a>
    </form>
</body>
</html>