<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.png" type="image/png">
    <title>Register for Encryptid'24</title>
    <%- include('./partials/font.ejs') %>
</head>
<body>
    <div class="kaalaContainer">
        <div class="challenge">
            <div>
                <div class="challengeTitle">
                    <p>Register</p>
                </div>
                <div style="padding: 3vh 3vw;">
                    <form action="" method="POST">
                        <div>
                            <label for="email">Display Name</label>
                            <input type="text" name="name" placeholder="Your Display Name" autocomplete="off">
                        </div>
                        <div>
                            <label for="email">Discord Username</label>
                            <input type="text" name="teamName" placeholder="Your Discord Username" autocomplete="off">
                        </div>
                        <div>
                            <label for="email">Email</label>
                            <input type="email" name="email" placeholder="encryptid@techsyndicate.us" autocomplete="off">
                        </div>
                        <div>
                            <label for="password">Password</label>
                            <input type="password" name="password" placeholder="********" autocomplete="off">
                        </div>
                        <div>
                            <label for="password">Confirm Password</label>
                            <input type="password" name="cnfpassword" placeholder="********" autocomplete="off">
                        </div>
                        <div style="width: 98%; display: flex; justify-content: right; margin-top: -3.75vh; margin-bottom: 4vh;">
                            <a href="/login" style="color: #888; text-decoration: none;">Login Here</a>
                        </div>
                        <button type="submit">Submit</button>
                        <% if (error) { %>
                            <p class="error"><%= error %></p>
                        <% } %>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

<style>
    * {box-sizing: border-box;}
    ::-webkit-scrollbar {display:none}
    body {
        font-family: pixeloid;
        margin: 0px;
    }
    .error {
        color: red;
        text-align: center;
        font-size: 1.8vh;
        margin-bottom: 0px;
    }
    .kaalaContainer {
            width: 100vw;
            background-color: #111;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            z-index: 1000;
            min-height: 100vh;
            overflow: auto;
        }
        .challenge {
            display: flex;
            flex-direction: column;
            width: 50vw;
            background-color: #272727;
            line-height: 1.6;
            justify-content: space-between;
            margin: 5vh 0;
        }
        .challengeTitle {
            display: flex;
            justify-content: space-between;
            background-color: #009a7c;
            align-items: center;
            padding: 1vh 1vw;
        }
        .challengeTitle p {
            font-size: 2vh;
            margin: 0px;
        }
        .challengeTitle img {
            height: 8vh;
        }
        .challengeBody {
            padding: 3vh 2.5vw;
            color: white;
            font-weight: lighter;
            font-size: 1.9vh;
        }
        input{
        flex: 1;
        background-color: #222;
        color: #888;
        font-size: 2vh;
        text-align: center;
        font-family: pixeloid;
        border: 0.5vh solid #4d4d4d;
        outline: none;
        width: 98%;
        text-align: left;
        margin-bottom: 5vh;
        padding: 0.8vw;
    }
    button{
        background-color: #272727;
        color: #009a7c;
        font-size: 1.8vh;
        font-family: pixeloid;
        border: 0.5vh solid #009a7c;
        outline: none;
        width: 40%;
        align-self: center;
        padding: 0.75vw;
    }
    form{
        display: flex;
        flex-direction: column;
    }
    label{
        color: #7d7d7d;
        font-size: 2.5vh;
        display: block;
        margin-bottom: 0.75vh;
    }
</style>
</html>